.desktop-icons {
  position: absolute;
  top: 16px;
  left: 16px;
  right: 16px;
  max-height: calc(100dvh - var(--taskbar-height) - 32px);
  display: flex;
  flex-flow: column wrap;
  align-content: flex-start;
  gap: 8px;
  z-index: 1;
  pointer-events: none;
}

.desktop-icons > .icon-tile {
  pointer-events: auto;
}
